.container{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap;  */
  /* flex-flow: column wrap; */ 
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */

  /* align-items: center; */
  /* align-items: stretch; */

  /* align-content: space-between; */

  background-color: darkgray;
  height: 290px;
  color: white;
  
}

.r1{
  background-color: red;

}
.r2{
  order: 1;
  background-color: blue;
  align-self: flex-end;
}
.r3{
  background-color: green;
  /* flex-shrink: 0;  */
  flex-grow: 1;
}
.rect{
  width: 150px;
  height: 150px;

}